################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GuiDemo/.vs/GuiDemo
/.vs
/InClassTest/.vs/InClassTest
